.tides {
  background-color: #053058;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #fff;
  gap: 0.75rem;
  &__header {
    font-size: 17px;
    font-weight: 600;
    line-height: 1;
  }

  &__content {
    font-size: 15px;
    max-width: 140px;
    width: 100%;
    color: currentColor;
  }
}
